.mainWrapper {
  max-width: 1240px;
  min-width: 300px;
  width: 90%;
  margin: auto;
  text-align: center;
}

/* --------------- Tablet & Mobile --------------- */
@media (max-width: 992px) {
  .mainWrapper {
    width: 89.3%;
  }
}
