.mainContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: start;
}

.error {
  margin: 30px auto;
  text-align: center;
  font-size: var(--font-size-m);
}

.headerContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  margin: 0;
  font-size: var(--font-size-l);
  font-weight: 500;
  line-height: 51px;
}

.location {
  margin: 0;
  line-height: 26px;
}

.tagContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 5px;
}

.ownerRatingContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  row-gap: 24px;
}

.ownerContainer {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.ownerNameContainer {
  margin: 0;
  text-align: right;
}
.ownerName {
  margin: 0;
  line-height: 26px;
}

.ownerPicture {
  width: 64px;
  height: 64px;
  background-color: #c4c4c4;
  border-radius: 50%;
}

.sectionContainer {
  display: flex;
  justify-content: space-between;
}

/* --------------- Tablet & Mobile --------------- */
@media (max-width: 992px) {
  .mainContainer {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .headerContainer {
    margin-top: 15px;
    /* margin-bottom: 16px; */
    flex-direction: column;
    row-gap: 16px;
  }

  .title {
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 5px;
  }

  .location {
    font-size: var(--font-size-s);
    line-height: 20px;
  }

  .tagContainer {
    margin-top: 10px;
  }

  .ownerRatingContainer {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    row-gap: 0;
  }

  .ownerContainer {
    display: flex;
    align-items: center;
    column-gap: 10.5px;
  }

  .ownerNameContainer {
    margin: 0;
    text-align: right;
  }
  .ownerName {
    font-size: var(--font-size-xs);
    line-height: 17px;
  }

  .ownerPicture {
    width: 32px;
    height: 32px;
  }

  .sectionContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
