.container {
  position: relative;
}

.container75 {
  width: 82.5%;
  margin-top: 31px;
  margin-left: auto;
  margin-right: auto;
}

.container50 {
  width: 47%;
  margin-top: 24px;
  margin-left: 0;
  margin-right: 0;
}

.top {
  position: relative;
  z-index: 99;
  background-color: var(--primary-color);
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top75 {
  height: 47px;
  padding-left: 18px;
  padding-right: 16px;

  border-radius: 5px;
}

.top50 {
  height: 52px;
  padding-left: 20px;
  padding-right: 18px;
  border-radius: 10px;
}

.title {
  margin: 0;
  font-weight: 500;
  color: white;
}

.title75 {
  font-size: var(--font-size-m);
}
.title50 {
  font-size: 1rem;
}

.chevron75,
.chevron50 {
  font-size: var(--font-size-m);
}

.body {
  position: relative;

  margin: 0;
  background-color: var(--light-grey);

  text-align: start;
}

.body75 {
  top: -5px;
  padding: 36px 27px 19px 18px;
  border-radius: 5px;
}

.body50 {
  top: -10px;
  padding: 40px 12px 27px 20px;
  border-radius: 10px;
}

.paragraph {
  font-weight: 400;
}

.paragraph75 {
  font-size: var(--font-size-m);
  line-height: 34px;
}
.paragraph50 {
  font-size: 1rem;
  line-height: 26px;
}

/* --------------- Tablet & Mobile --------------- */
@media (max-width: 992px) {
  .container75 {
    width: 82.5%;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .container50 {
    width: 100%;
    margin-top: 0;
  }

  .top {
    position: relative;
    z-index: 99;
    background-color: var(--primary-color);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top75 {
    height: 47px;
    padding-left: 18px;
    padding-right: 16px;

    border-radius: 5px;
  }

  .top50 {
    height: 30px;
    padding-left: 11.5px;
    padding-right: 11px;
    border-radius: 5px;
  }

  .title {
    margin: 0;
    font-weight: 500;
    color: white;
  }

  .title75 {
    font-size: var(--font-size-m);
  }
  .title50 {
    font-size: 13px;
  }

  .chevron75,
  .chevron50 {
    font-size: 1rem;
    font-weight: 400;
  }

  .body {
    position: relative;

    margin: 0;
    background-color: var(--light-grey);

    text-align: start;
  }

  .body75 {
    top: -5px;
    padding: 36px 27px 19px 18px;
    border-radius: 5px;
  }

  .body50 {
    top: -5px;
    padding: 23px 7px 2px 11.5px;
    border-radius: 5px;
  }

  .paragraph {
    font-weight: 400;
  }

  .paragraph75 {
    font-size: var(--font-size-m);
    line-height: 34px;
  }
  .paragraph50 {
    font-size: var(--font-size-xs);
    line-height: 17px;
  }
}
