.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 40px;
}

.logo {
  width: 210px;
  height: 68px;
  fill: var(--primary-color);
}

.nav {
  display: flex;
  column-gap: 57px;
  align-items: center;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: var(--font-size-m);
}

.activeLink {
  composes: link;
  text-decoration-line: underline;
}

/* --------------- Tablet & Mobile --------------- */
@media (max-width: 992px) {
  .container {
    margin-top: 20px;
  }
  .logo {
    width: 145px;
    height: 47px;
  }
  .nav {
    column-gap: 10px;
  }
  .link {
    font-size: var(--font-size-xs);
  }
}
