.container {
  margin-top: 43px;
  padding: 56px 50px;
  background-color: var(--light-grey);
  border-radius: 25px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  column-gap: 60px;
  row-gap: 50px;
}

/* --------------- Tablet & Mobile --------------- */
@media (max-width: 992px) {
  .container {
    margin-top: 22px;
    padding: 0;
    background-color: transparent;

    row-gap: 20px;
  }
}
