.container {
  padding: 56px 50px;
  background-color: var(--light-grey);
  border-radius: 25px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  column-gap: 60px;
  row-gap: 50px;
}
