.container {
  position: relative;
  height: 415px;
}

.picture {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.chevron {
  position: absolute;
  top: calc(50% - 45px);
  color: white;
  font-size: 91px;
}

.chevronLeft {
  left: 23px;
}
.chevronRight {
  right: 23px;
}

.counter {
  margin: 0;
  width: 24px;
  position: absolute;
  bottom: 25px;
  left: calc(50% - 12px);
  color: white;
}

/* --------------- Tablet & Mobile --------------- */
@media (max-width: 992px) {
  .container {
    height: 255px;
  }

  .picture {
    border-radius: 10px;
  }

  .chevron {
    top: calc(50% - 12px);
    font-size: 24px;
  }

  .chevronLeft {
    left: 6px;
  }
  .chevronRight {
    right: 6px;
  }

  .counter {
    display: none;
  }
}
