.container {
  width: 340px;
  height: 340px;
  background: var(--primary-color);

  border-radius: 10px;
}

.gradient {
  width: 100%;
  height: 100%;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: start;

  padding: 20px;
}

.locationName {
  font-size: 1rem;
  margin: 0;
  color: white;
  font-weight: 500;
  line-height: 142.6%;

  width: 30%;
}
