.container {
  text-align: center;
  margin: auto;

  background-color: black;
  padding-top: 66px;
  padding-bottom: 29px;
}

.logo {
  width: 122;
  height: 40;
  fill: white;
  margin-bottom: 32px;
}

.copyright {
  color: white;
  font-size: var(--font-size-m);
}

/* --------------- Tablet & Mobile --------------- */
@media (max-width: 992px) {
  .container {
    padding-top: 62px;
    padding-bottom: 62px;
  }

  .logo {
    margin-bottom: 20px;
  }

  .copyright {
    font-size: var(--font-size-xs);
  }
}
