@import-normalize; /* bring in normalize.css styles */

body,
html,
p,
h1,
h2,
h3 {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --primary-color: #ff6060;
  --light-grey: #f7f7f7;

  --font-size-xxs: 10px; /* 10px */
  --font-size-xs: calc(2 / 3 * 1rem); /* 12px */
  --font-size-s: calc(7 / 9 * 1rem); /* 14px */
  --font-size-m: calc(4 / 3 * 1rem); /* 24px */
  --font-size-l: calc(2 * 1rem); /* 36px */
  --font-size-xl: calc(2 * 4 / 3 * 1rem); /* 48px */
}
