.container {
  padding-top: 169px;
  padding-bottom: 159px;
}

.title {
  margin-top: 0;
  margin-bottom: 66px;
  font-size: 288px;
  font-weight: 700;
}

.text {
  font-size: var(--font-size-l);
  margin-bottom: 182px;
}

.link {
  color: var(--primary-color);
}
